span.pagebanner {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 2px 4px 2px 0px;
    width: 79%;
}

span.pagelinks {
    display: block;
}

table.displaytag {
    border: 1px solid #808080;
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
    background: white;
}

table.displaytag td {
    padding-left: 3px;
}

table.displaytag th {
    background-color: #0076CC;
    padding: 2px;
    padding-left: 3px;
    padding-right: 1px;
    border-bottom: 1px solid black;
    text-align: left;
    color: black;
}

/* The following 3 rules are for Tapestry's contrib:Table */
table.displaytag th table {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

table.displaytag th table td {
    text-align: left;
}

table.displaytag th table td:hover, table.displaytag th table td a:hover {
    background-color: #ACA790;

}

table.displaytag th table tr:hover {
    background-color: #ACA790;
    border: 1px solid white;
}

table.displaytag tr.even {
    background: #eee;
    border-top: 1px solid silver;
}

table.displaytag tr.odd {
    background: white;
    border-top: 1px solid silver;
}

table.displaytag th a, table.displaytag th a:visited {
    background-color: transparent;
    color: #000000;
    text-decoration: none;
}

table.displaytag th a:hover {
    background-color: transparent;
    color: #FF3C00;
    text-decoration: none;
}

th.sorted a, th.sortable a {
    background-position: right;
    display: block;
    padding: 0px 3px;
}

table.displaytag th.order1 a {
  background-image: url(../images/arrow_down.gif) !important;
}

table.displaytag th.order2 a {
    background-image: url(../images/arrow_up.gif) !important;
}

table.displaytag th.sortable a {
    background-image: url(../images/arrow_inv.gif);
}

table.displaytag th.sorted {
    background-color: #eee;
    color: #000000;
}

table.displaytag th.sorted a, table.displaytag th.sortable a {
    background-position: right;
    background-repeat: no-repeat;
    display: block;
}

table.displaytag th.sortable:hover {
    background-color: #ffd;
}

table.displaytag thead tr {
    background-color: #FFCC00;
}

table.displaytag tr.even {
    background: #EEEEEE;
    border-top: 1px solid #C0C0C0;
    color: #000000;
}

table.displaytag tr.odd {
    background: #FFFFFF;
    border-top: 1px solid #C0C0C0;
    color: #000000;
}

/* highlight table row onmouseover */
table.displaytag tr:hover, table.displaytag tr.over {
    background: #F5F5FF;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    color: #000000;
    cursor: pointer;
}

/* Labels for validation and label tag */
label {
    font-weight: normal;
    cursor: pointer;
}

label.required {
    font-weight: bold;
}

label.error {
    font-weight: bold;
    background: transparent;
    color: red;
}

/* These are the styles for detail screen tables */
table.detail {
    margin-left: 10px;
    padding: 5px;
    font-weight: normal;
}

table.detail th {
    text-align: right;
    padding: 0px 3px 0px 0px;
}

#login {

}