form.openid ul { text-align:center; list-style-type:none; display:inline;}
form.openid ul li {float:left; padding:4px}
form.openid ul li span {padding:0 1em 0 3px}
form.openid fieldset {clear:both; padding:1em 0}
form.openid div+fieldset {display:none}

form.openid ul li.highlight { -moz-border-radius:4px; -webkit-border-radius:4px; background-color: #FD6}

.openid_logo{color:#F7931E;padding:6px 0px 8px 28px; background: url(../images/openid/openidico.png) no-repeat}
