<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">

	<!-- Spring JNDI Lookup   -->
	<jee:jndi-lookup id="dataSource" lookup-on-startup="true"
		jndi-name="java:comp/env/jdbc/postgres" />

	<bean id="mailSession" class="org.springframework.jndi.JndiObjectFactoryBean">
	    <property name="jndiName"><value>java:comp/env/mail/session</value></property>
	</bean>
	
	<!-- Configure Mail using JNDI -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="session"><ref bean="mailSession"/></property>
	</bean>

</beans>
