<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:flex="http://www.springframework.org/schema/flex"
    xsi:schemaLocation="http://www.springframework.org/schema/beans      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/aop     http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
                           http://www.springframework.org/schema/tx      http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/flex    http://www.springframework.org/schema/flex/spring-flex-1.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <bean id="ajaxService" class="org.jrecruiter.web.ajax.DwrAction" />

    <bean id="messageSource"
        class="org.springframework.context.support.ReloadableResourceBundleMessageSource" >
        <property name="basenames" >
            <list>
                <value>classpath:messages</value>
                <value>classpath:struts-messages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="utf-8"/>
        <property name="cacheSeconds" value="0"/>
    </bean>

	<import resource="classpath:org/jrecruiter/server/spring/applicationContext-jpa.xml"/>
	<import resource="classpath:org/jrecruiter/server/spring/applicationContext-resources.xml"/>
	<import resource="classpath:org/jrecruiter/server/spring/applicationContext-server.xml"/>
</beans>
