form div.required label,
form div.required input,
form div.optional label,
form div.optional input,
form div.optional textarea
form div.required textarea {
    display: block;
    width: 150px;
    float: left;
    margin-bottom: 10px;
}

form div.required label,
form div.optional label {
    text-align: right;
    padding-right: 20px;
}

form div.required,
form div.optional {
  clear: left;
}

form fieldset div.submit {
  width: 200px;
    margin-left: auto;
    margin-right: auto;
}

form fieldset {
    margin: 1em 5em 1em 5em;
    padding: 1em 1em 1em 1em;
    border: 1px solid #aaaaaa
}

form div.required {
    margin: 1em 5em 1em 5em;
}
form div.required label {
    font-weight: bold;
}


form div.optional {
    margin: 1em 5em 1em 5em;
}

/* Form input field definitions */

input.selected {
  border-color: #ff0000;
  background-color: #F7F7F7;

}
textarea.selected {
  border-color: #ff0000;
  background-color: #F7F7F7;
}

input.error {
  background-color: #FF9999;
  border-color: #ff0000;
}

button.selected {
  border-color: #ff0000;
}

button.error {
  background-color: #FF9999;
  border-color: #ff0000;
}

textarea.error {
  background-color: #FF9999;
  border-color: #ff0000;
}

input {
  border: 1px #333333 solid;
  background-color: #EEEEEE;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  padding:3px;
}

button {

  height: 18px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #333333;
  border-right-color: #999999;
  border-bottom-color: #999999;
  border-left-color: #333333;
  background-color: #EEEEEE;

  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
}

textarea {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #333333;
  border-right-color: #999999;
  border-bottom-color: #999999;
  border-left-color: #333333;
  background-color: #EEEEEE;

  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
width: 350px;
}