/* Contains the CSS for the job posting detail page */
#jobHeader ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

#jobHeader ul li {
    display: inline;
}

#jobHeader ul li a {
    text-decoration: none;
    border: 1px solid #aaaaaa;
    padding: .2em 1em 0.2em 20px;
    color: #000000;
    background-color: #ffffff;
}

#jobHeader ul li a:hover {
    color: #000000;
    background-color: #cccccc;
}


#jobHeader ul li a.print {
    background: url(../images/icons/crystal/agt_print.png) no-repeat 2px 50%;
}

#jobHeader ul li a.back {
    background: url(../images/icons/crystal/back.png) no-repeat 2px 50%;
}
#jobHeader ul li a.pdf {
    background: url(../images/icons/crystal/pdf.png) no-repeat 2px 50%;
}

#jobDetailMap {
    width: 300px;
    float: right;
    position: relative;
    background: transparent url(../images/test/fieldset_back.png) no-repeat
        left top;
    border: 1px solid #AAAAAA;
    margin: 1em 0em 0em 1em;
    padding: 1em;
}

#jobDetail {
    background: transparent url(../images/test/fieldset_back.png) no-repeat
        left top;
    border: 1px solid #AAAAAA;
    margin: 1em 0em 0 0em;
    padding: 1em;
}

#jobDetail div.optional {
    margin: 1em 1em;
}

#jobDetail div.optional {
    clear: left;
}

#jobDetail div.optional label {
    padding-right: 1em;
    text-align: right;
}

#jobDetail div.strong {
    font-weight: bold;
}

#jobDetail div.optional label {
    display: block;
    float: left;
    margin-bottom: 5px;
    width: 120px;
}

#jobDetailDescription {
    background: transparent url(../images/test/fieldset_back.png) no-repeat
        left top;
    border: 1px solid #AAAAAA;
    margin: 1em 0em 0 0em;
    padding: 1em;
    clear: right;
}

#jobDetailRestriction {
    background: transparent url(../images/test/fieldset_back.png) no-repeat
        left top;
    border: 1px solid #AAAAAA;
    margin: 1em 0em 0 0em;
    padding: 1em;
}