button {
  border:0;
  cursor:pointer;
  font-weight:bold;
  padding:0 0 0 0;
  text-align:center;
}
button span {
  position:relative;
  display:block;
  white-space:nowrap;
  padding:0 3px 0 5px;
}

/*blue buttons*/
.submitBtn {
  background:url(../images/button_background.png) right no-repeat;
  font-size:1em;
}

.submitBtn:hover {
    background:url(../images/button_background_h.png) right no-repeat;
}

html {

}

html img {
    border-width: 0;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  background-color: #BED5D9;
}

fieldset {
 border: 1px solid #AAAAAA
}

#container {
    width: 800px;
    margin: 1em auto 1em auto;

}

#container #header {

  text-align: center;
  vertical-align: middle;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #90B5E6;

  background-image: url("../images/musa_header.jpg");

  background-position: left;
  background-repeat: no-repeat;

  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
}

#container #header span.ajug {
  color: #00538F;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
}
#container #header span.separator {
  color: #FF0000;
}
#container #header_menu{
  width: 100%;
  border-top: 1px solid #FF3C00;
  background-color: #0076CC;
  background-repeat: repeat-x;
  padding: 0;
}

#header_menu ul
{
padding: 0;
margin: 0;
background-color: #036;
color: White;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;
  background-image: url("../images/header_menu_background.png");
}

#header_menu ul li { display: inline; }

#header_menu ul li a {
padding: 0.2em 1em;
background-color: #036;
color: White;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
  background-image: url("../images/header_menu_background.png");
}

#header_menu ul li a.icon
{
    background: url(../images/icons/feed-icon-14x14.png) no-repeat center;

}
#header_menu ul li a.icon span
{
position: absolute;
left: -5000px;
width: 4000px;
}


#header_menu ul li a:hover {
background-color: #369;
color: #fff;
}

#container #content {
  clear: both;
  background-color: #F5F5FF;
  border: 1px solid #0076CC;
  padding: 1em;

}


#container #footer{
  text-align: center;
  width: 100%;
  height: 1.3em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-top:  0.1em;
  padding-bottom:  0.1em;
  margin-bottom: auto;
  background-color: #0076CC;

}

th {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  background-color: #ccccef;
  text-align: left;
}

td {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  width: 610px;
  text-align: left;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;

  margin-top: 0px;
  margin-bottom: 0px;

  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
}


#errorMessages {
  min-height: 40px;
  background:transparent url(../images/icons/crystal/agt_update_critical.png) no-repeat 1em 50%;
  padding-left: 1em;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: #FFFFFF;
  border: 1px solid #FF0000;

}

#errorMessages li {
  margin-left: 5em;
  margin-right: 5em;
}

#successMessages {
  min-height: 40px;
  background:transparent url(../images/icons/crystal/agt_action_success.png) no-repeat 1em 50%;
  padding-left: 1em;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: #FFFFFF;
  color: #00AA00;
  border: 1px solid #0076CC;

}

#successMessages li {
  margin-left: 5em;
  margin-right: 5em;
}

a:active {  color: #6666EE; text-decoration: none; }
a:visited {  color: #6666EE; text-decoration: none}
a:link { color: #6666EE; text-decoration: none;}
a:hover { color: #6666EE; text-decoration: underline;}




div.back {

  width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;

  }

.hover {

  cursor: pointer;
  background-color: #F0F0FF;

}

a.button, a:visited.button {

  display: block;
  text-align:center;
  width: 60px;
  height:16px;
  background-color: #90B5E6;
  padding:2px;
  float: left;

}
a:hover.button {
  display: block;
  background-color: #eeeeee;

  }

  .headerFormSelected {

  display: block;
  text-align: left ;
  vertical-align: middle;
  width: 120px;
  height:15px;
  background-color: #ffffff;
  padding: 2px;
  float: left;


  }

a.footerLogo {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  display:block;
  background-image: url("../images/jrecruiter_logo_small.gif");

  text-decoration: none;
  padding: 0px;

  text-indent: -6000px;
  background-repeat: no-repeat;
  background-position: center;
}

.adminMain {

  padding-top: 15px;
  background-image: url("../images/colocasia.jpg");
  background-repeat: no-repeat;
  background-position: right;

}

.welcomeMain {
    position: relative;
    float: right;
    top: 0px;

    margin-left: 0px;
    margin-right: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #333333;

}
.center {
    padding-top: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#login {
        margin: 0px auto 0px auto;
        border: 1px solid #ccccef;
        width: 300px;
    }
    #login td {
            padding: 3px 10px 3px 10px;
    }

    #login td.top {
        padding: 20px 10px 3px 10px;
    }

table.default {
        margin: 0px auto 0px auto;
        border: 1px solid #ccccef;
        padding: 3px 10px 3px 10px;
        width: 400px;
    }

.formError {
        display: block;
        margin: 0px auto 1em auto;
        border: 1px solid red;
        padding: 3px 10px 3px 10px;
        width: 378px;
}

/* Social bookmarks */
    small { font-size:10px; }
    #socialinks { border: 1px solid #ccccef; margin: 1em auto 1em auto; width: 20%;}
    #socialinks td {text-align: center; vertical-align: middle; width: 5%}

.menuList {
  margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.menuList li { margin: 0 0 3px 0; }

.menuList a {
  display: block;
  padding: 2px 2px 2px 2px;
  border: 1px solid #333;
  width: 160px;
  background-image: url(../images/button_background.png);
  background-repeat: no-repeat;
  white-space: nowrap;
}

.menuList a:link, .menuList a:visited {
 color: #004880;
 text-decoration: none;
}

.menuList a:hover {
  border: 1px solid #333;
  background-color: #F60;
  background-image: url(../images/button_background_h.png);
  color: #333;
  background-repeat: no-repeat;
}

.menuList span.showJobs {
  display: block;
  float: left;
  width: 20px;
  background-image: url(../images/icons/crystal/viewmag.png);
  background-repeat: no-repeat;
}
.menuList span.manageAccount {
  display: block;
  float: left;
  width: 20px;
  background-image: url(../images/icons/crystal/configure.png);
  background-repeat: no-repeat;
}
.menuList span.addUser {
  display: block;
  float: left;
  width: 20px;
  background-image: url(../images/icons/crystal/add_user.png);
  background-repeat: no-repeat;
}

.menuList li.active a:link, .menuList li.active a:visited, .menuList li.active a:hover {
  border: 1px solid #333;
  background-color: #FF6600;
  background-image: url(../images/button_background_h.png);
  background-repeat: no-repeat;
  background-position: 1em 0;
  color: #333;
}

/* Buttons */

a.button {
  display: block;
  padding: 2px 2px 2px 2px;
  border: 1px solid #333;
  width: 100px;
  background-image: url(../images/button_background.png);
  background-repeat: no-repeat;
  white-space: nowrap;
  float: left;
}

a.button:hover {
  border: 1px solid #333;
  background-color: #F60;
  background-image: url(../images/button_background_h.png);
  color: #333;
  background-repeat: no-repeat;
}

a.button:link, a.button:visited, a.button:hover {
  border: 1px solid #333;
  background-color: #FF6600;
  background-image: url(../images/button_background_h.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #333;
}

input.searchBox {
  background-image: url(../images/icons/crystal/viewmag.png);
  background-repeat: no-repeat;
  background-position: 2px 50%;
  padding-left: 20px !important;

}
