<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

    <bean id="baseDao" abstract="true"/>

    <bean id="configurationDao" class="org.jrecruiter.dao.jpa.ConfigurationDaoJpa" parent="baseDao"/>
    <bean id="industryDao"      class="org.jrecruiter.dao.jpa.IndustryDaoJpa"      parent="baseDao"/>
    <bean id="jobDao"           class="org.jrecruiter.dao.jpa.JobDaoJpa"           parent="baseDao"/>
    <bean id="regionDao"        class="org.jrecruiter.dao.jpa.RegionDaoJpa"        parent="baseDao"/>
    <bean id="roleDao"          class="org.jrecruiter.dao.jpa.RoleDaoJpa"          parent="baseDao"/>
    <bean id="statisticDao"     class="org.jrecruiter.dao.jpa.StatisticDaoJpa"     parent="baseDao"/>
    <bean id="userDao"          class="org.jrecruiter.dao.jpa.UserDaoJpa"          parent="baseDao"/>
    <bean id="userToRoleDao"    class="org.jrecruiter.dao.jpa.UserToRoleDaoJpa"    parent="baseDao"/>

</beans>
