<?xml version="1.0" encoding="UTF-8"?>
	<beans xmlns="http://www.springframework.org/schema/beans" 
		   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr" 
	       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	                           http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

	<bean id="validator" 
	class="org.springmodules.validation.bean.BeanValidator">
			<property name="configurationLoader" ref="configurationLoader"/>
		</bean>
		<bean id="configurationLoader" 
	class="org.springmodules.validation.bean.conf.loader.annotation.AnnotationBeanValidationConfigurationLoader" 
	/>
 
    <bean id="exceptionResolver" 
        class="org.jrecruiter.webtier.CustomMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.Throwable">        
                    error
                </prop>
            </props>
        </property>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messageResources"/>
    </bean>

        
    <!-- View Resolver for JSPs -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

	<bean id="urlMapping" 
          class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <value>
            	/logOut.html=logOutController
            	/showJobs.html=jobListController
            	/addUser.html=userFormController
            </value>
        </property>
    </bean>

	<bean id="dwrUrlMapping" 
	      class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	<property name="alwaysUseFullPath" value="true"/>
	  <property name="mappings">
	  <props>
	 <prop key="/dwr/**/*">dwrController</prop>
	 </props>
	</property>
	</bean>

    <!-- How to resolve methods for multi-action controllers -->
    <bean id="methodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
	    <property name="paramName" value="action"/>
	    <property name="defaultMethodName" value="view"/>
    </bean>

<!-- Controller Definitions -->

    <bean id="userFormController" class="org.jrecruiter.web.controller.AddUserFormController">
        <property name="validator" ref="validator"/>
        <property name="formView"  value="pages/user/addUser"/>
        <property name="successView" value="redirect:/welcome.html"/>
        <property name="service" ref="userService"/>
        <property name="commandClass" value="org.jrecruiter.model.User"/>
    </bean>


    <bean id="jobListController" class="org.jrecruiter.web.controller.JobListController">
        <property name="methodNameResolver" ref="methodNameResolver"/>
        <property name="service" ref="jobService"/>
        <property name="successView" value="/pages/jobs"/>
        <property name="successViewShowDetails" value="/pages/jobDetail"/>
        <property name="ajaxView" value="/pages/jobsTable"/>
    </bean>

    <bean id="logOutController" class="org.jrecruiter.web.controller.LogOutController">
        <property name="methodNameResolver" ref="methodNameResolver"/>
        <property name="successView" value="redirect:/"/>
    </bean>
    
<!-- Forward directly to views -->

<bean id="urlViewMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/> 

<bean name="/welcome.html" class="org.springframework.web.servlet.mvc.ParameterizableViewController"> 
    <property name="viewName"><value>pages/welcome</value></property> 
</bean> 


<!-- Configuring DWR (Ajax) -->

  <dwr:controller id="dwrController" debug="true"/>
  <dwr:configuration>
    <dwr:convert type="bean"
        class="org.jrecruiter.model.Job"/>
  </dwr:configuration>
  
  <bean id="dwrAction" class="org.jrecruiter.web.ajax.DwrAction" scope="prototype">
    <property name="service" ref="jobService"/>
    <dwr:remote javascript="ajaxService"><dwr:include method="getJob"/></dwr:remote>
  </bean>


<bean name="/admin/admin.html" class="org.springframework.web.servlet.mvc.ParameterizableViewController"> 
    <property name="viewName"><value>/pages/admin/adminmain</value></property> 
</bean> 

<bean name="/login.html" class="org.springframework.web.servlet.mvc.ParameterizableViewController"> 
    <property name="viewName"><value>/pages/user/login</value></property> 
</bean> 

<bean name="/forgotYourPassword.html" class="org.springframework.web.servlet.mvc.ParameterizableViewController"> 
    <property name="viewName"><value>/pages/user/forgotYourPassword</value></property> 
</bean> 



</beans>
