<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	                           http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

	<bean id="validator"
		class="org.springmodules.validation.bean.BeanValidator">
		<property name="configurationLoader" ref="configurationLoader" />
	</bean>
	<bean id="configurationLoader"
		class="org.springmodules.validation.bean.conf.loader.annotation.AnnotationBeanValidationConfigurationLoader" />

	<bean id="exceptionResolver"
		class="org.jrecruiter.web.CustomMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Throwable">error</prop>
			</props>
		</property>
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messageResources" />
	</bean>

	<!-- View Resolver for JSPs -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<value>
				/addUser.html=addUserFormController
				/getPassword.html=getPasswordFormController
				/logout.html=logOutController
				/searchJobs.html=searchJobsFormController
				/showJobs.html=jobListController
				/rss.jobs=jobsRSSController
				/admin/addJob.html=addJobFormController
				/admin/editSettings.html=editConfigurationFormController
				/admin/editUser.html=editUserFormController
				/admin/editJob.html=editJobFormController
				/admin/showStatisticsChart.html=showStatisticsChartController
				/admin/showJobsForEditing.html=showJobsFormController
				/admin/showStatistics.html=showStatisticsController
				/admin/showUsersForEditing.html=showUsersFormController
			</value>
		</property>
	</bean>

	<bean id="dwrUrlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="alwaysUseFullPath" value="true" />
		<property name="mappings">
			<props>
				<prop key="/dwr/**/*">dwrController</prop>
			</props>
		</property>
	</bean>

	<!-- How to resolve methods for multi-action controllers -->
	<bean id="methodNameResolver"
		class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
		<property name="paramName" value="action" />
		<property name="defaultMethodName" value="view" />
	</bean>

	<!-- Controller Definitions -->

	<bean id="addUserFormController"
		class="org.jrecruiter.web.controller.AddUserFormController">
		<property name="validator" ref="validator" />
		<property name="formView" value="user/addUser" />
		<property name="successView" value="redirect:/welcome.html" />
		<property name="service" ref="userService" />
		<property name="commandClass" value="org.jrecruiter.model.User" />
	</bean>

	<bean id="getPasswordFormController"
		class="org.jrecruiter.web.controller.GetPasswordFormController">
		<property name="validator" ref="validator" />
		<property name="formView" value="user/getPassword" />
		<property name="successView" value="redirect:/welcome.html" />
		<property name="service" ref="userService" />
		<property name="commandClass" value="org.jrecruiter.model.User" />
	</bean>

	<bean id="logOutController"
		class="org.jrecruiter.web.controller.LogOutController">
		<property name="methodNameResolver" ref="methodNameResolver" />
		<property name="successView" value="redirect:/" />
	</bean>

	<bean id="searchJobsFormController"
		class="org.jrecruiter.web.controller.SearchJobsFormController">
		<property name="validator" ref="validator" />
		<property name="formView" value="search" />
		<property name="successView" value="jobs" />
		<property name="service" ref="jobService" />
		<property name="commandClass" value="org.jrecruiter.web.forms.SearchForm" />
	</bean>

	<bean id="jobListController"
		class="org.jrecruiter.web.controller.JobListController">
		<property name="methodNameResolver" ref="methodNameResolver" />
		<property name="service" ref="jobService" />
		<property name="successView" value="jobs" />
		<property name="successViewShowDetails"
			value="/jobDetail" />
		<property name="ajaxView" value="/jobsTable" />
	</bean>

	<bean id="jobsRSSController"
		class="org.jrecruiter.web.controller.JobsRSSController">
		<property name="methodNameResolver" ref="methodNameResolver" />
		<property name="service" ref="jobService" />
	</bean>

	<bean id="jobsRSSView"
		class="org.jrecruiter.web.controller.rss.views.JobsRSSView">
	</bean>

	<bean id="addJobFormController"
		class="org.jrecruiter.web.controller.admin.AddJobFormController">
		<property name="validator" ref="validator" />
		<property name="formView" value="admin/addJob" />
		<property name="successView" value="redirect:/admin/admin.html" />
		<property name="service" ref="jobService" />
		<property name="commandClass" value="org.jrecruiter.model.Job" />
	</bean>
 
	<bean id="editConfigurationFormController"
		class="org.jrecruiter.web.controller.admin.EditConfigurationFormController">
		<property name="validator" ref="validator" />
		<property name="formView" value="user/getPassword" />
		<property name="successView" value="redirect:/admin/admin.html" />
		<property name="service" ref="jobService" />
		<property name="commandClass" value="org.jrecruiter.model.User" />
	</bean> 

	<bean id="editUserFormController"
		class="org.jrecruiter.web.controller.admin.EditUserFormController">
		<property name="validator" ref="validator" />
		<property name="formView" value="admin/editUser" />
		<property name="successView" value="redirect:/admin/admin.html" />
		<property name="service" ref="userService" />
		<property name="commandClass" value="org.jrecruiter.model.User" />
	</bean>

	<bean id="editJobFormController"
		class="org.jrecruiter.web.controller.admin.EditJobFormController">
		<property name="validator" ref="validator" />
		<property name="formView" value="user/getPassword" />
		<property name="successView" value="redirect:/admin/admin.html" />
		<property name="service" ref="jobService" />
		<property name="commandClass" value="org.jrecruiter.model.User" />
	</bean>

	<bean id="showStatisticsChartController"
		class="org.jrecruiter.web.controller.admin.ShowStatisticsChartController">
		<property name="methodNameResolver" ref="methodNameResolver" />
		<property name="service" ref="jobService" />
		<property name="successView" value="redirect:/admin/admin.html" />
		<property name="successViewShowDetails"
			value="jobDetail" />
		<property name="ajaxView" value="/jobsTable" />
	</bean>

	<bean id="showStatisticsController"
		class="org.jrecruiter.web.controller.admin.ShowStatisticsController">
		<property name="methodNameResolver" ref="methodNameResolver" />
		<property name="service" ref="jobService" />
		<property name="successView" value="redirect:/admin/admin.html" />
		<property name="successViewShowDetails"
			value="/jobDetail" />
		<property name="ajaxView" value="/jobsTable" />
	</bean>

	<bean id="showJobsFormController"
		class="org.jrecruiter.web.controller.admin.ShowJobsFormController">
		<property name="validator" ref="validator" />
		<property name="formView" value="user/getPassword" />
		<property name="successView" value="redirect:/welcome.html" />
		<property name="service" ref="jobService" />
		<property name="commandClass" value="org.jrecruiter.model.User" />
	</bean>

	<bean id="showUsersFormController"
		class="org.jrecruiter.web.controller.admin.ShowUsersFormController">
		<property name="validator" ref="validator" />
		<property name="formView" value="user/getPassword" />
		<property name="successView" value="redirect:/welcome.html" />
		<property name="service" ref="userService" />
		<property name="commandClass" value="org.jrecruiter.model.User" />
	</bean>

	<!-- Forward directly to views -->

	<bean id="urlViewMapping"
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />

	<bean name="/welcome.html"
		class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName">
			<value>welcome</value>
		</property>
	</bean>

	<!-- Configuring DWR (Ajax) -->

	<dwr:controller id="dwrController" debug="true" />
	<dwr:configuration>
		<dwr:convert type="bean" class="org.jrecruiter.model.Job" />
	</dwr:configuration>

	<bean id="dwrAction" class="org.jrecruiter.web.ajax.DwrAction"
		scope="prototype">
		<property name="service" ref="jobService" />
		<dwr:remote javascript="ajaxService">
			<dwr:include method="getJob" />
		</dwr:remote>
	</bean>

	<bean name="/admin/admin.html"
		class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName">
			<value>/admin/adminmain</value>
		</property>
	</bean>

	<bean name="/login.html"
		class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName">
			<value>/user/login</value>
		</property>
	</bean>
</beans>
