<?xml version="1.0" encoding="UTF-8"?>
	<beans xmlns="http://www.springframework.org/schema/beans" 
		   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr" 
	       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	                           http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

    <bean id="exceptionResolver" 
        class="org.jrecruiter.webtier.CustomMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.Throwable">        
                    error
                </prop>
            </props>
        </property>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>

    <bean id="beanValidator" class="org.springmodules.validation.commons.DefaultBeanValidator">
        <property name="validatorFactory" ref="validatorFactory"/>
    </bean>
    
        
    <!-- View Resolver for JSPs -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


	<bean id="urlMapping" 
          class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <value>
            	/showJobs.html=jobListController
            </value>
        </property>
    </bean>

	<bean id="dwrUrlMapping" 
	      class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	<property name="alwaysUseFullPath" value="true"/>
	  <property name="mappings">
	  <props>
	 <prop key="/dwr/**/*">dwrController</prop>
	 </props>
	</property>
	</bean>

    <!-- How to resolve methods for multi-action controllers -->
    <bean id="methodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
	    <property name="paramName" value="action"/>
	    <property name="defaultMethodName" value="view"/>
    </bean>

<!-- Controller Definitions -->

    <bean id="jobListController" class="org.jrecruiter.web.controller.JobListController">
        <property name="methodNameResolver" ref="methodNameResolver"/>
        <property name="service" ref="jobService"/>
        <property name="successView" value="/pages/jobs"/>
        <property name="successViewShowDetails" value="/pages/jobDetail"/>
        <property name="ajaxView" value="/pages/jobsTable"/>
    </bean>

<!-- Forward directly to views -->

<bean id="urlViewMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/> 

<bean name="/welcome.html" class="org.springframework.web.servlet.mvc.ParameterizableViewController"> 
    <property name="viewName"><value>pages/welcome</value></property> 
</bean> 
 
<!-- Configuring DWR (Ajax) -->

  <dwr:controller id="dwrController" debug="true"/>
  <dwr:configuration>
    <dwr:convert type="bean"
        class="org.jrecruiter.model.Job"/>
  </dwr:configuration>
  
  <bean id="dwrAction" class="org.jrecruiter.web.ajax.DwrAction" scope="prototype">
    <property name="service" ref="jobService"/>
    <dwr:remote javascript="ajaxService"><dwr:include method="getJob"/></dwr:remote>
  </bean>

</beans>
